*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



img{
	width: 250px;
	height: 250px;
	float: left;
	clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	shape-margin: 1%;


}


